name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v4

    - name: Setup MSYS2 (Windows)
      if: runner.os == 'Windows'
      uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        update: true
        install: >-
          autoconf
          automake
          libtool
          make
          mingw-w64-x86_64-bzip2
          mingw-w64-x86_64-ca-certificates
          mingw-w64-x86_64-flac
          mingw-w64-x86_64-gcc
          mingw-w64-x86_64-libltdl
          mingw-w64-x86_64-libsystre
          mingw-w64-x86_64-pcre
          mingw-w64-x86_64-pcre2
          mingw-w64-x86_64-python
          mingw-w64-x86_64-python-numpy
          mingw-w64-x86_64-xz
          mingw-w64-x86_64-zlib

    - name: Install build dependencies (Linux)
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install -y             \
                autoconf                    \
                build-essential             \
                libltdl-dev                 \
                liblzma-dev                 \
                libflac-dev                 \
                libpcre2-dev                \
                libpython3-dev              \
                python3-pip                 \
                wget
        pip3 install --break-system-packages "numpy>=2.0"
        echo CC=gcc-14 >> $GITHUB_ENV
        echo CXX=g++-14 >> $GITHUB_ENV
        echo PREFIX=/usr >> $GITHUB_ENV

    - name: Install build dependencies (macOS)
      if: runner.os == 'macOS'
      run: |
        brew install automake libtool gcc pcre pcre2 xz flac python@3.12
        pip3.12 install setuptools "numpy>=2.0" --break-system-packages
        echo CC=gcc-14 >> $GITHUB_ENV
        echo CXX=g++-14 >> $GITHUB_ENV
        echo FC=gfortran-14 >> $GITHUB_ENV
        echo F77=gfortran-14 >> $GITHUB_ENV
        echo PREFIX=/opt/homebrew >> $GITHUB_ENV

    - name: Configure
      if: runner.os != 'Windows'
      run: |
        autoreconf -i
        ./configure --disable-php --with-python=`which python3.12` \
            --with-ltdl=$PREFIX \
            --with-liblzma=$PREFIX \
            --with-libFLAC=$PREFIX \
            --with-pcre=$PREFIX

    - name: Configure (Windows)
      if: runner.os == 'Windows'
      shell: msys2 {0}
      run: |
        autoreconf -i
        ./configure --disable-php \
            --disable-perl \
            --host=x86_64-w64-mingw32 \
            --with-python=$PREFIX/bin/python \
            --with-ltdl=$PREFIX \
            --with-liblzma=$PREFIX \
            --with-libFLAC=$PREFIX \
            --with-pcre=$PREFIX

    - name: Build
      if: runner.os != 'Windows'
      run: make

    - name: Build (Windows)
      if: runner.os == 'Windows'
      shell: msys2 {0}
      run: make AM_LDFLAGS="-no-undefined"

    - name: Run regression tests
      if: runner.os != 'Windows'
      run: make check

    - name: Run regression tests (Windows)
      if: runner.os == 'Windows'
      shell: msys2 {0}
      run: make check
